 <header class="header">
   <div class="row d-flex justify-content-center">
     <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12">
       <!-- Logo -->
       <div class="logo-box">
         <img src="assets/logo.png" alt="moammapey-logo" class="logo-img">
       </div>
     </div>
     <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">
       <!-- Titles -->
       <div class="title-box">
         <h3 class="title-box--primary">گروه فنی و مهندسی معما پی</h3>
         <h5 class="title-box--sub">ایمن بسازیم سالم بمانیم</h5>
       </div>
     </div>
   </div>
   <div class="header_nav-box">
     <div class="header_nav-box--item" routerLink="../">
       <a class="header_nav-box--item-link">بازگشت</a>
     </div>
   </div>
 </header>

 <div class="joint-box">

   <!-- Title -->
   <div class="joint-box_title-box">
     <div class="joint-box_title-box--text">
       میلگرد بستر
     </div>
   </div>

   <!-- Content Box -->
   <div class="joint-box_content-box">

     <h3 class="head-title">مقدمه</h3>
     <p class="text">
       در ایران استفاده از مصالح بنایی کاربرد فراوانی در ساخت و ساز داشته و به طور گسترده در المان‌های سازه‌ای و
       غیرسازه‌ای مورد استفاده قرار می‌گیرند. دلیل این امر ویژگی‌های مناسب این نوع مصالح می‌باشد که در گذر زمان
       کارآمدی خود را به اثبات رسانیده‌اند. از سوی دیگر مصالح بنایی از منظر لرزه‌ای دو ضعف مهم نیز دارند: وزن بالا و
       شکل پذیری پایین. اگرچه باتولید آجرهای مجوف و نیز بلوک‌های توخالی سبک وزن مشکل وزن تا حدی برطرف شده است، لیکن
       مشکل عدم شکل‌پذیری همچنان به قوت خود باقی مانده است و بدون استفاده از تسلیحات، مصالح بنایی موجود همچنان ترد
       می‌باشند. رفتار دیوارهای بنایی غیر مسلح در دو امتداد داخل صفحه و خارج از صفحه قابل بررسی است. بسیاری از
       دیوارهای بنایی غیر مسلح در زلزله‌ها و آزمایشات لرزه‌ای گذشته دچار فروریزش خارج از صفحه شده‌اند. در نتایج تمام
       تحقیقات مشخص است که رفتار خارج از صفحه دیوارهای بنایی غیر مسلح از شکل پذیری کمی برخوردار بوده و دارای زوال
       مقاومت و باریک شدگی شدیدی می‌باشند. همچنین بسیاری از محققین، آیین‌نامه‌ها و مهندسین بر رفتار لرزه‌ای نامناسب
       دیوارهای‌ بنایی غیر مسلح در امتداد داخل صفحه تاکید دارند. مروری بر رفتار این دیوارها در زلزله‌های گذشته و نیز
       آزمایشات گوناگون موید این امر است که دیوارهای‌ بنایی غیر مسلح دارای رفتاری غیر شکل پذیر و دارای زوال مقاومت و
       سختی بوده و به دلیل باز و بسته شدن مکرر ترک‌ها، رفتار چرخه‌ای آن‌ها دارای باریک شدگی قابل توجهی‌ می‌باشد.
       باتوجه به موارد بیان شده به‌طور کلی می‌توان گفت که ضعف اصلی دیوارهای بنایی غیر مسلح عدم شکل پذیری کافی
       ‌می‌باشد. این ضعف را می‌توان تاحدی با مسلح کردن دیوار تقلیل داد. مسلح نمودن دیوار بنایی می‌تواند با تعبیه
       میلگرد‌های بستر خرپایی به صورت افقی انجام شود. مزیت استفاده از میلگرد‌های بستر در این است که میلگرد در ملات
       بستر مدفون شده و لازم به ریختن دوغاب نمی‌باشد. همچنین برای استفاده از میلگردهای بستر لازم نیست واحدهای بنایی
       شکل خاصی داشته باشند و حتی در مورد دیوارهای ساخته شده با واحدهای بنایی توپر نیز استفاده از میلگرد بستر امکان
       پذیر است. رفتار المان‌های بنایی مصلح تا حد زیادی مشابه رفتار المان‌های بتن مسلح می‌باشد و با فرض خطی بودن
       توزیع کرنش در مقطع دیوار می‌توان با یک تحلیل ممان انحنا ظرفیت خمشی خارج از صفحه(و نیز داخل صفحه) دیوار بنایی
       مسلح را خمین زد. در این خصوص کرنش نهایی المان‌های بنایی نیز بسیار مشابه بتن می‌باشد. اهمیت مسلح کردن دیوارهای
       بنایی به حدی است که اکثر آیین‌نامه‌ها و دستورالعمل‌ها لازم می‌دانند که حتی دیوارهای غیرسازه‌ای نیز در مناطق با
       لرزه خیزی بالا دارای حداقل تسلیحاتی باشند.
     </p>
     <h3 class="head-title">میلگرد بستر</h3>
     <p class="text">
       میلگرد بستر، المانی فولادی است که در بند بستر دیوار قرار می‌گیرد. همانطور که در شکل 1 نشان داده شده است معمولا
       میلگرد‌های بستر به صورت دو مفتول ساده و آجدار می‌باشند که توسط یک مفتول میانی به یگدیگر متصل هستند. اگر مفتول
       میانی به شکل 7 و 8 باشد، میلگرد بستر از نوع خرپایی بوده و اگر به شکل عمود بر مفتول‌های طولی باشد، میلگرد بستر از
       نوع نردبانی خواهد بود. میلگرد‌های بستر خرپایی از سختی بیشتری برخوردار بوده و استفاده از آن نسبت به میلگردهای
       نردبانی اولویت دارد. لازم است میلگرد بستر به شکل کامل در داخل ملات بستر مدفون شود تا از طریق ملات، پیوستگی میان
       میلگرد بستر و واحدهای بنایی برقرار گردد. برشی از مقطع دیوار مسلح شده توسط میلگرد بستر در شکل 2 نشان داده شده است.
     </p>
     <div class="img-box-v1">
       <img src="../../assets/joint/01.png" alt="" class="img-01">
       <span class="img-01-text">
         شکل1- میلگرد بستر خرپایی قبل از پخش کردن ملات بر روی آن
       </span>
       <img src="../../assets/joint/02.png" alt="" class="img-02">
       <span class="img-02-text">
         شکل2- مشخصات هندسی میلگردهای بستر و چینش آن‌ها به‌عنوان میلگرد افقی در دیوار
       </span>
     </div>
     <h4 class="sub-head-title">مشخصات فنی میلگرد بستر</h4>
     <ul class="list-box">
       <li class="list-box-item">
         - حداقل قطر مفتول‌ها 4 میلی‌متر و حداکثر قطر مفتول‌ها برابر نصف ضخامت ملات بستر می‌باشد. در اکثر موارد ضخامت
         ملات بستر 10 میلی‌متر بوده و از مفتول‌های با قطر 4 الی 5/4 میلی‌متر استفاده می‌شود.
       </li>
       <li class="list-box-item">
         - فولاد مصرفی در ساخت مفتول‌ها لازم است دارای حداقل تنش تسلیم 450 مگاپاسکال و حداقل تنش نهایی 550 مگاپاسکال
         باشد.
       </li>
       <li class="list-box-item">
         - به منظور جلوگیری از خوردگی، لازم است میلگرد‌های بستر به صورت گالوانیزه تولید شده و یا دارای پوشش اپوکسی
         باشند.
       </li>
       <li class="list-box-item">
         - به‌منظور پیوستگی بهتر میان میلگرد بستر و ملات، لازم است مفتول‌های طولی میلگرد بستر دارای سطحی آجدار باشند.
         مفتول میانی که دو مفتول طولی را به یکدیگر متصل می‌کند، می‌تواند به صورت ساده و دارای سطحی صاف باشد.
       </li>
     </ul>
     <h4 class="sub-head-title">مزایا و موارد استفاده از میلگرد بستر</h4>
     <ul class="list-box">
       <li class="list-box-item">- کنترل عرض و فواصل ترک‌های ناشی از جمع شدگی و تغییرشکل‌های حرارتی</li>
       <li class="list-box-item">- افزایش مقاومت و شکل‌پذیری خمش خارج از صفحه دیوار</li>
       <li class="list-box-item">- افزایش مقاومت برشی داخل صفحه دیوار</li>
       <li class="list-box-item">- افزایش انسجام دیوار در حین زلزله و جلوگیری از فروریزش خارج از صفحه</li>
       <li class="list-box-item">- بهبود شکل‌پذیری دیوار</li>
       <li class="list-box-item">- برقراری اتصال مکانیکی برای نمای بنایی ( آجری یا سنگی)</li>
       <li class="list-box-item">- عدم نیاز به استفاده از واحد‌های بنایی با هندسه ویژه </li>
       <li class="list-box-item">- عدم نیاز به تزریق دوغاب</li>
       <li class="list-box-item">- عدم نیاز در تغییر روند ساخت دیوار</li>
       <li class="list-box-item">- امکان تعبیه به‌صورت قائم در دیوار</li>
       <li class="list-box-item">- اتصال دیوارهای دولایه به یکدیگر</li>
       <li class="list-box-item">- تامین تسلیحات مورد نیاز اطراف بازشوها</li>
       <li class="list-box-item">- طول وصله وطول مهاری کم به دلیل کوچک بودن قطر مفتول‌ها و ساختار شبکه‌ای میلگرد بستر
       </li>
       <li class="list-box-item">
         - امکان برقرای اتصال در دیوارهای متقاطع با استفاده از میلگرد بستر
       </li>
     </ul>
     <p class="text">
       لازم به توضیح است در دیوارهای با عملکرد دوطرفه و نیز دیوارهای دهانه افقی، میلگردهای بستر مستقیما باعث بهبود
       مقاومت خمشی خواهند شد. در مورد دیوارهای دهانه قائم اگرچه میلگرد‌های بستر به شکل مستقیم در مقاومت خمشی تاثیر
       ندارند، لیکن به‌واسطه بهبود عملکرد داخل صفحه دیوار و کاهش ترک‌های احتمالی، به شکل غیر مستقیم منجر به بهبود عملکرد
       خارج از صفحه دیوارهای دهانه قائم نیز خواهندشد. لازم به ذکر است رفتار خارج و داخل صفحه دیوار دارای اندرکنش بوده
       به‌طوری که آسیب دیدگی درون صفحه می‌تواند منجر به کاهش مقاومت خارج از صفحه شود و بالعکس.
     </p>

     <h3 class="head-title">
       مقایسه روش های مختلف
     </h3>
     <table class="table table-sm table-bordered bg-inverse text-white text-center">
       <thead>
         <tr>
           <th>جزییات دیوار</th>
           <th>بهبود مقاومت خارج از صفحه</th>
           <th>جداسازی دیوار در امتداد داخل صفحه</th>
           <th>تطابق با آیین نامه های بین المللی</th>
           <th>مود تخریب</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td>شاخک گذاری</td>
           <td>خیر</td>
           <td>خیر</td>
           <td>خیر</td>
           <td>فروریزش کلی</td>
         </tr>
         <tr>
           <td>وال پست</td>
           <td>بله</td>
           <td>خیر</td>
           <td>خیر</td>
           <td>فروریزش موضعی</td>
         </tr>
         <tr id="thething">
           <td>میلگرد بستر + اتصالات</td>
           <td>بله</td>
           <td>بله</td>
           <td>بله</td>
           <td>بله</td>
         </tr>
       </tbody>
     </table>


     <div class="reference-box">
       <img src="../../assets/covers/cover-1.png" alt="" class="reference-box-img-01">
       <img src="../../assets/covers/cover-3.jpg" alt="" class="reference-box-img-03">
       <img src="../../assets/covers/cover-2.png" alt="" class="reference-box-img-02">
     </div>

     <h3 class="head-title">مستندات</h3>
     <ul class="list-box">
       <li class="list-box-item">-ACI 530-Building Code Requirements and Specification for Masonry Structres</li>
       <li class="list-box-item">-ضابطه شماره 729 سازمان برنامه و بودجه کشور، با عنوان راهنمای طراحی لرزه ای دیوار های
         بنایی غیر سازه ای مسلح به میلگرد بستر</li>
       <li class="list-box-item">-گواهینامه فنی از مرکز تحقیقات راه، مسکن و شهرسازی</li>
       <li class="list-box-item">-مبحث هشتم مقررات ملی ساختمان-طرح اجرای ساختمان های با مصالح بنایی(ویرایش دوم)</li>
       <li class="list-box-item">-آیین نامه طراحی ساختمان ها در برابر زلزله - استاندارد 2800(ویرایش چهارم)</li>
       <li class="list-box-item">-فهرست بهای واحد پایه رشته ابنیه به شماره ردیف مالی070302</li>
       <li class="list-box-item">-نرم افزار اختصاصی کنترل طراحی لرزه ای دیوار های بنایی</li>
     </ul>
     <div class="form-group text-center">
       <div class="row">
         <div class="col-xl-4 col-md-4 col-lg-4 col-sm-12 col-12">
          <a href="../../assets/articles/SeismicDesignGuide.pdf" class="btn w-100 my-2 btn-success btn-lg text-white"
            style="font-size: 2rem; font-weight: bold;">
            <i class="fa fa-download mx-2"></i>
            دانلود آیین‌‌‌ نامه کانادا
          </a>
         </div>
         <div class="col-xl-4 col-md-4 col-lg-4 col-sm-12 col-12">
          <a href="../../assets/articles/ACI530.pdf" class="btn w-100 my-2 btn-success btn-lg text-white"
            style="font-size: 2rem; font-weight: bold;">
            <i class="fa fa-download mx-2"></i>
            دانلود آیین نامه آمریکا
          </a>
         </div>
         <div class="col-xl-4 col-md-4 col-lg-4 col-sm-12 col-12">
          <a href="../../assets/articles/Code729.pdf" class="btn w-100 my-2 btn-success btn-lg text-white"
            style="font-size: 2rem; font-weight: bold;">
            <i class="fa fa-download mx-2"></i>
            دانلود ضابطه شماره 729
          </a>
         </div>
       </div>
     </div>
   </div>
 </div>
