<div class="container">
  <div class="not-found">
    <div class="row mt-5 pt-5">
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 co-12"></div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 co-12">
        <div class="logo-box">
          <div class="logo-cnt">
            <img src="assets/logo.png" alt="" class="logo-img">
          </div>
        </div>
        <div class="title-box">
          <div class="title">گروه فنی و مهندسی معماپی</div>
        </div>
        <div class="sub-title-box">
          <div class="title">ایمن بسازید سالم بمانید</div>
        </div>
      </div>
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 co-12"></div>
    </div>
    <div class="sp"></div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="text-msg">
          <div class="text">صفحه مورد نظر یافت نشد!</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="nav-item">
          <a routerLink="/" class="nav-item-link-box">
            <div class="nav-text">
              صفحه اصلی
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
